html {
    font-family: Arial;
}

/* title style*/
h1 {
    font-size: 0.85em;
    font-weight: 400;
}

/* result bar */
#result {
    width: 310px;
    text-align: right;
    font-size: 3em;
    border: solid;
    border-width: 0.02px;
    border-color: #BDBDBD;
    padding-right: 0.25em;
    margin-bottom: 0.3em;
}

/* button setup */
.grid-container {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    grid-column-gap: 0.5em;
}

/* buttons and behavior */
button {
    height: 85%;
    width: 100%;
    font-size: 1.5em;
    border: solid;
    border-width: 1px;
    border-color: #BDBDBD;
}

    button:active {
        border-color: #1E88E5;
    }


.btnMath {
    background-color: #BDBDBD;
    border-color: #9E9E9E;
}

.btnSum {
    background-color: #1E88E5;
    border-color: #1976D2;
}

#MS {
    cursor: not-allowed;
}

#MR {
    cursor: not-allowed;
}

#decimal {
    cursor: not-allowed;
}
